*{
    box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  height: 80px;
  padding: 0px 15px;
}

.header .icon {
    display: none;
}

.header-btns a {
  text-decoration: none;
  margin-right: 10px;
}

.banner {
    background-image: url('banner.jpg');
    height: 400px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.banner div {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
}

.card {
    width: 200px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 0px 15px 15px 0px;
}

.card img {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.card h3 {
    text-align: center;
}

.card p {
    padding: 0px 20px;
}

.main {
    display: flex;
    justify-content: center;
}

.formgeneral {
    background-color: lightgray;
    padding: 20px;
    margin: 10px 278px;
}

input {
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
    border: solid 0.5px rgba(0,0,0,0.2);
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 0.5px rgba(0,0,0,0.2);
}

select > option {
    padding: 10px;
}

input[type=submit] {
    background-color: green;
    color:aliceblue;
    font-size: 20px;
    border: none;
}

input[type=submit]:hover, select:hover {
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color:#ddd;
    font-size: 20px;
}

@media screen and (max-width:700px) {
    .logo {
        display: none;
    }

    .header .icon {
        display: block;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .display-btns {
        display: none;
    }

    .header-btns {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: space-around;
    }

    .header-btns a {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .main {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 30px;
    }

    .formgeneral {
        width: 100%;
        margin: 0px;
    }

    footer {
        margin-top: 30px;
    }
}