* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    background-color: #f1f1f1;
    padding: 25px;
}

.navbar {
    list-style-type: none;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: black;
    position: sticky;
    width: 100%;
}

.navbar li {
    float: left;
}

.navbar li a {
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    color:antiquewhite
}

.navbar li a:hover {
    background-color: gray;
    color: black;
}

.item-container {
    float: left;
    padding: 0;
    padding: 15px;
}

.side {
    width: 25%;
}

.main {
    width: 50%;
}

.footer {
    overflow: auto;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 20px;
    background-color: black;
    color: antiquewhite;
    left: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width:600px) {
    .side, .main {
        width: 100%;
    }
}